@{
    Layout = "~/Views/Shared/AllianceLayout.cshtml";
}
<div class="alliance-logo"></div>

<div class="jumbotron">
    <h1><span class="headline">Videoer</span></h1><hr />
    <p class="text">
        Hver gang vi raider, vil vi optage vores progress og uploade hertil. Du kan også se vores film fra vores youtube!
    </p>
</div>

<div class="jumbotron">
    @if (Model.LoggedInUser != null)
    {
        if (Model.LoggedInUser.role_id == 1 || Model.LoggedInUser.rolse_id == 2)
        {
            <div class="container col-md-12">
                <form action="@Url.Action("AddNewVideo", "Alliance")">
                    <input type="submit" class="btn btn-primary btn-lg alliance-btn" value="Tilføj Video" style="float: right" />
                </form>
            </div><br />
        }
    }
    @if (Model.AllVideos.Count == 0)
    {
        <p class="text">Der er desværre ingen videoer!</p>
    }
    else
    {
        foreach (var vid in Model.AllVideos)
        {
            <div class="col-md-12 container">
                <p class="video-headline">@vid.title</p>
                <p class="news-createddate">@vid.created_date
                    @if (Model.LoggedInUser != null)
                    {
                        if (Model.LoggedInUser.role_id == 1 || Model.LoggedInUser.rolse_id == 2)
                        {
                            <a href="@Url.Action("RemoveVideo", "Alliance", new {id = vid.id })" style="font-size: 0.8em">Slet video</a>
                        }
                    }
                </p>
                <iframe width="990" height="587" src="@vid.link" frameborder="0" allowfullscreen></iframe>
                <div class="jumbotron container">
                    <p class="text">@vid.description</p>
                </div>
            </div>
            <hr />
        }
    }
</div>
