@model RiseOfVikings.Models.ForumViewModel
@{
    Layout = "~/Views/Shared/HordeLayout.cshtml";
}

<div class="horde-logo"></div>
<div class="jumbotron" style="margin-top: 2.5%; z-index: 99;">
    <h1><span class="headline"><b>Rise of Vikings</b></span></h1><hr />
    <p class="text">Rise of Vikings Horde er en dansk guild der befinder sig på Kor'gall</p>
    <form action="@Url.Action("About", "Horde")">
        <input type="submit" value="Lær mere! &raquo;" class="btn btn-primary btn-lg horde-btn" />
    </form>

</div>

<div class="jumbotron container">
    <div class="col-md-12 container">
        <h2>Nyheder</h2><hr />
        @if (Model.News.Count != 0)
        {
            if (Model.News.Count == 3)
            {
                for (int i = 0; i <= 2; i++)
                {
                    <div class="container col-md-12 jumbotron">
                        <a href="@Url.Action("ThreadIndex", "Horde", new {id = Model.News[i].id, subforumId = Model.News[i].subforum_id })" class="news-headline horde-link">@Model.News[i].headline</a>
                        <p class="news-createddate">@Model.News[i].created_date</p><hr />
                        <p><pre class="news-body">@Model.News[i].body</pre></p>
                    </div><hr />
                }
            }
            else if (Model.News.Count == 2)
            {
                for (int i = 0; i <= 1; i++)
                {
                    <div class="container col-md-12 jumbotron">
                        <a href="@Url.Action("ThreadIndex", "Horde", new {id = Model.News[i].id, subforumId = Model.News[i].subforum_id })" class="news-headline horde-link">@Model.News[i].headline</a>
                        <p class="news-createddate">@Model.News[i].created_date</p><hr />
                        <p><pre class="news-body">@Model.News[i].body</pre></p>
                    </div> <hr />
                }
            }
            else if (Model.News.Count == 1)
            {
                <div class="container col-md-12 jumbotron">
                    <a href="@Url.Action("ThreadIndex", "Horde", new {id = Model.News[0].id, subforumId = Model.News[0].subforum_id })" class="news-headline horde-link">@Model.News[0].headline</a>
                    <p class="news-createddate">@Model.News[0].created_date</p><hr />
                    <p><pre class="news-body">@Model.News[0].body</pre></p>
                </div>
            }
        }
        else
        {
            <p>Ingen nyheder</p>
        }
    </div>
</div>