@model RiseOfVikings.Models.ForumViewModel
@{
    Layout = "~/Views/Shared/HordeLayout.cshtml";
}
<div class="horde-logo"></div>

<div class="jumbotron">
    <h1><span class="headline">@Model.SelectedSubforum.subforum_name</span></h1> <hr />
    <p class="text">@Model.SelectedSubforum.description</p>
</div>

<div class="jumbotron container">
    <div class="container col-md-12">
        @if (Session["User"] != null)
        {
            <form action="@Url.Action("CreateThread", "Horde")">
                <input class="btn btn-primary btn-lg horde-btn" type="submit" value="Opret ny tråd" style="float: right;" />
                <input type="hidden" name="subforumId" value="@Model.SelectedSubforum.id" />
            </form>
        }
        @if (Model.LoggedInUser != null && Model.LoggedInUser.role_id == 1 && Model.SelectedSubforum.id != 4)
        {
            <form action="@Url.Action("DeleteSubforum", "Horde")">
                <input class="btn btn-primary btn-lg horde-btn" type="submit" value="Slet subforum" style="float: right; margin-right: 5px" />
                <input type="hidden" name="id" value="@Model.SelectedSubforum.id" />
            </form>
        }
    </div> <br />

    @if (Model.Threads.Count != 0)
    {
        <div style="border-color: white; border-style: solid; border-width: 1px" class="subforum-div">
            <hr />
            @foreach (var thread in Model.Threads.Where(x => x.sticky))
            {
                <div class="col-md-12 container">
                    <div class="col-md-9">
                        <p><span class="sticky-post">Sticky: </span><a href="@Url.Action("ThreadIndex", "Horde", new {id = thread.id, subforumId = thread.subforum_id})" class="horde-link">@thread.headline</a></p>
                        <p class="subforum-description-text">@thread.created_date</p>
                    </div>
                    <div class="col-md-3 container" style="border-left-color: white; border-left-style: solid; border-left-width: 1px;">
                        <a href="@Url.Action("Details", "User", new {id = @thread.User.id})" class="horde-link">@thread.User.username</a>
                        <p class="forum-user">@thread.User.battletag</p>
                    </div>
                </div><hr />
            }
            <hr />
            @foreach (var thread in Model.Threads.Where(x => !x.sticky).OrderByDescending(x => x.created_date))
            {
                <div class="col-md-12 container">
                    <div class="col-md-9">
                        <a href="@Url.Action("ThreadIndex", "Horde", new {id = thread.id, subforumId = thread.subforum_id})" class="horde-link">@thread.headline</a>
                        <p class="subforum-description-text">@thread.created_date</p>
                    </div>
                    <div class="col-md-3 container" style="border-left-color: white; border-left-style: solid; border-left-width: 1px;">
                        <a href="@Url.Action("Details", "User", new {id = @thread.User.id})" class="horde-link">@thread.User.username</a>
                        <p class="forum-user">@thread.User.battletag</p>
                    </div>
                </div><hr />
            }
        </div>
    }
    else
    {
        <p class="text">Ingen tråde!</p>
    }
</div>